/* Hovedside Start */

/* Felles Slutt */

/* Hovedside Start */

/* Hovedside Slutt */


/* Underside - Kapell Start */
body {
    margin: 0;
    overflow: hidden; /*forhindre scroll i parent */
}
 h2 {
    color: #BF6B04;
    font-family: 'Open Sans'; 
 }


/* Underside - Kapell Slutt */


/* Underside - Kasino Start */

/* Underside - Kasino Slutt */


/* Underside - Show Start */

/* Hovedside Slutt */