/* Body start */
.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh; /* 100% av nettleseren viewporthøyden*/
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}
/* Body end */
/* Hovedside Start */
nav {
    display: flex;
    flex-direction: row; /* Change the direction to row */
    align-items: center; /* Center the items vertically */
    justify-content: flex-start;
    padding-left: 50px;
} 
.logo {
    display: flex;
    align-items: center;
    padding-right: 200px;
}
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex: 1; /* Expand the ul element to take the available space */
} 
  nav li {
    margin: 0 10px;
    font-size: 34px;
} 
nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.5s ease;
}
  nav a:hover {
    background-color: #555;
}
@media only screen and (max-width: 967px) {
    nav ul {
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: 0;
    } 
    nav li {
      font-size: 24px; /*endrer størrelse for å unngå forflytting av logo */
    } 
    .logo {
      padding-right: 10px;
    }
  }
.hero-section-kontainer {
    display: flex;
    flex-direction: column;
    background-image: url("images/Hovedside-hero-section-background-image-fz.jpg");
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 800px; /* Replace with the actual height of the background image */
}
.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-top: auto; /* Flytter div'en til bunnen i forhold til flex-konteineren */
    margin-bottom: -30px;
}
.main-features {
    
}

/* Hovedside Slutt */


/* Underside - Kapell Start */
 <kode her>
/* Underside - Kapell Slutt */


/* Underside - Kasino Start */
<kode her>
/* Underside - Kasino Slutt */


/* Underside - Show Start */
<kode her>
/* Underside - Show Slutt */